/* Change the background of the entire visible page */
body {
    background-color: #f0f0f0; /* Very light grey */
}

/* Style for all paragraphs */
p {
    color: darkgreen;
    font-size: 16px;
    font-family: 'Times New Roman', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px solid orange; /* Adds an orange border around the heading */
    padding: 10px; /* Adds space inside the border */






    
    <style>

body
{
    background-color: #0a883c7c; /* Light Green */
}



p {
    color: rgba(255, 255, 255, 0.747);
    font-size: 22px;
    font-family: "Georgia", serif;
}

 h2 {
            color: rgb(0, 0, 0);
            font-size: 30px;
            font-family: "Helvetica", sans-serif;
        }  

 ol {
            color: rgb(255, 255, 255, 0.747);
            font-size: 22px;
             font-family: "Georgia", serif;
        }  

h1 {
            color: rgb(0, 0, 0);
            font-size: 40px;
            font-family: "Helvetica", sans-serif;
            border: 4px solid rgb(0, 0, 0)
}

    sailing.png {
  width: 250px;
  height: 300px;
}

     football.png {
  width: 400px;
  height: 250px;
}

     skiing.png {
  width: 250px;
  height: 300px;
}
    
</style>

